.container {
    width: 1200px;
    margin: 200px auto;
}


#search {
    padding-left: 15%;
}

.box{
    float:left;
    margin-top: 1px;
    height: 80px;
}

.left-box {
    width: 399px;
    margin-right: 1px;
}

.mid-box {
    width: 399px;
}

.right-box {
    width: 399px;
    margin-left: 1px;
}

.bgc {
    background-color: rgb(239, 239, 239);
}

.footer {
    margin: 100px auto;
    padding-left: 500px;
}